header {
    background-color: rgb(129, 220, 127);
    height: 50px;
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    color:black;
}

.divider {
    width:100%;
    height:200px;
    background: linear-gradient(
        to bottom left,
        orange 25%,
        cyan 25% 50%,
        orange 50% 75%,
        cyan 75%
    );
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}

.divider div {
    position: relative;
    height:50%;
    width:100px;
    bottom:0;
    left:0;
}

.divider h4 {
    display:flex;
    padding: 5px;
    align-items:end;
}

main {
    float:right;
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    height: 400px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects {
    width: 100%;
    height: 700px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.bigCard {
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    height: 300px;
    background-image:url(../images/prework-study-guide.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode:soft-light;
    background-color:  rgba(25,74,14,1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: mintcream;
}

.bigCard:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.cardContainer {
    margin: 0;
    padding: 0;
    padding-top:20px;
    height:200px;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.card {
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    height: 100%;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: mintcream;
}

.card h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* some leftover when i was experimenting with different ways to style
.card div {
    display:flex;
    align-items: flex-end;
}

.card div p {
    background-color: lightseagreen;
}*/

.cardImage {
    height:100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode:soft-light;
    background-color:  rgba(25,74,14,1);
}

.cardImage:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#contactMe {
    width:100%;
    height:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

aside section {
    border-right-style: solid;
    border-right-color: slategray;
    border-right-width: 6px;
    height: 400px;
    width: 100%;
    margin-bottom: 80px;
}

/* this has to match the height of the #work id so it lines up evenly*/
#projectsAside {
    height:700px;
}

/* this has to match height of #contactMe id*/
#contactAside {
    height:100px;
}

aside section p {
    font-size: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
}