body {
    background-color: mediumspringgreen;
}


header {
    background-color: mediumspringgreen;
    height: 50px;
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    display: flex;
}

header nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}

header nav h3 {
    display: flex;
    padding-right: 20px;
}

.divider {
    width:100%;
    height:200px;
    background: linear-gradient(
        to bottom left,
        orange 25%,
        black 25% 50%,
        orange 50% 75%,
        black 75%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.divider div {
    height: 85%;
    width: 90%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: right;
}

.divider div h4 {
    display:flex;
    padding: 5px;
    align-items:end;
    color:mintcream;
}

main {
    float:right;
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    height: 400px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMe {
    display: flex;
    justify-content: space-between;
}

#projects {
    width: 100%;
    height: 700px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.bigCard {
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    height: 300px;
    background-image:url(../images/main_image_star-forming_region_carina_nircam_final-5mb.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode:soft-light;
    background-color:  rgba(25,74,14,1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: mintcream;
}

.bigCard:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.cardContainer {
    margin: 0;
    padding: 0;
    padding-top:20px;
    height:200px;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.card {
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    height: 100%;
    background-color: mediumseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: mintcream;
}

.card h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* some leftover when i was experimenting with different ways to style
.card div {
    display:flex;
    align-items: flex-end;
}

.card div p {
    background-color: lightseagreen;
}*/

.cardImage {
    height:100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-blend-mode:soft-light;
    background-color:  rgba(25,74,14,1);
}

.cardImage:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#contactMe {
    width:100%;
    height:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

aside section {
    border-right-style: solid;
    border-right-color: slategray;
    border-right-width: 6px;
    height: 400px;
    width: 100%;
    margin-bottom: 80px;  
}

aside section p {
    font-size: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div {
    display:flex;
    align-items: center;
    justify-content: center;
}

.selfie {
    height: 200px;
    width: 200px;
}

/* this has to match the height of the #work id so it lines up evenly*/
#projectsAside {
    height:700px;
}

/* this has to match height of #contactMe id*/
#contactAside {
    height:100px;
}

/*media query for cellphones. it already looks okay for tablet size, this one targeting mainly cellphones 

this media query for whatever reason does absolutely nothing to the header and i have no idea why. leaving it anyway.*/
@media screen and (max-width:705px) {
    header {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    header nav {
        display: flex;
    }

    * h3 {
        font-size: 80%;
    }

    * p {
        font-size: 11px;
    }

    .selfie {
        height: 130px;
        width: 130px;
    }

    aside section p {
        font-size: 100%;
    }
}

@media screen and (max-width:380px) {
    * p {
        font-size:9px;
    }
}