header {
    background-color: rgb(129, 220, 127);
    height: 50px;
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    color:black;
}

.divider {
    width:100%;
    height:200px;
    background: linear-gradient(
        to bottom left,
        orange 25%,
        cyan 25% 50%,
        orange 50% 75%,
        cyan 75%
    );
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}

.divider h4 {
    display:flex;
    padding: 5px;
    align-items:end;
}

main {
    float:right;
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    height: 400px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work {
    width: 100%;
    height: 700px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.bigcard {
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    height: 300px;
    background-color: lightcoral;
}

.cardcontainer {
    margin: 0;
    padding: 0;
    padding-top:40px;
    height:200px;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.card {
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    height: 100%;
    background-color: lightseagreen;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside section {
    border-right-style: solid;
    border-right-color: slategray;
    border-right-width: 6px;
    height: 400px;
    width: 100%;
    margin-bottom: 80px;
}

/* this has to match the height of the #work id so it lines up evenly*/
#workaside {
    height:700px;
}

aside section p {
    font-size: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

